
p,h1,h2{
	margin: 0;
}

header{
	height: 40px;
	width: 100%;
	background: #ccc;
	position: fixed;
	z-index: 102;
	top: 0;
}

header .nav{
	width: 100%;
	height: 100%;
	background: #000;
	margin: 0 auto;
}

header .nav ul{
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

header .nav ul li{
	display: inline-block;
	position: relative;
	width: 20%;
	height: 100%;
	line-height: 40px;
	text-align: center;
	margin: 0;
	letter-spacing: 3px;
	font-size: 14px;
	text-shadow: 1px 1px 1px #000;
	
	transition: background-color 0.5s ease-in-out;
	-webkit-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
}

header .nav ul li:hover{
	background: #022;
}

header .nav ul li:hover .li{
	display: block;
}

header .nav ul li a{
	text-decoration: none;
	color: #fff;
}

header .nav ul li .li{
	position: absolute;
	top: 100%;
	line-height: 40px;
	width: 100%;
	background: black;
	display: none;
}

header .nav ul li .li span{
	display: inline-block;
	width: 100%;
	height: 100%;
	
	transition: background-color 0.5s ease-in-out;
	-webkit-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
}

header .nav ul li .li span:hover{
	background: #022;
}

section{
	width: 100%;
	margin-top: 40px;
}

section .content{
	width: 100%;
}

section .content .top{
	width: 100%;
	text-align: center;
}

section .content .top .cell{
	height: 250px;
	display: inline-block;
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #fff;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: relative;
	top: 50px;
}

section .content .top .cell a{
	font-size: 14px;
	text-decoration: none;
	color: #000;
	letter-spacing: 1px;
}

section .content .top .cell img{
	width: 300px;
	height: 150px;
}

section .content .top .cell p{
	transform: translate(0,30px);
	-webkit-transform: translate(0,30px);
	-moz-transform: translate(0,30px);
	-ms-transform: translate(0,30px);
	-o-transform: translate(0,30px);
	margin-top: 30px;
	opacity: 0;
	
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

section .content .top .cell:hover p{
	transform: translate(0,-10px);
	-webkit-transform: translate(0,-10px);
	-moz-transform: translate(0,-10px);
	-ms-transform: translate(0,-10px);
	-o-transform: translate(0,-10px);
	
	opacity: 1;
}

section .content .mes{
	width: 100%;
	height: 150px;
	font-size: 100px;
	display: inline-block;
	line-height: 200px;
	text-align: center;
	color: #fff;
	margin-top: 50px;
}

section .content .mes img{
	display: inline-block;
	width: 200px;
	height: 100px;
}

footer{
	width: 100%;
	height: 200px;
	background: #022;
	clear: both;
	margin-top: 50px;
	color: #fff;
	font-size: 14px;
}

footer .mes
{
	width: 500px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top:50px;
}

footer .mes p
{
	columns: 2;
	-webkit-columns: 2;
}